/*MIXINS*/


/*Border radius*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// $name = location insude images folder - img/where/image
@mixin svg-bg($name, $extension: png, $color: transparent, $position: 0 0, $repeat: no-repeat) {
    background: none, url(../img/#{$name}.svg) $color $position $repeat;
  .no-svg & {
    background: url(../img/#{$name}.#{$extension}) $color $position $repeat;
  }
}
