/***************
COMMON VARIABLES
***************/

$asap: 'Asap', sans-serif;
$roboto: 'Roboto Slab', serif;

/*PRIMARY COLOURS*/
$white : #FFFFFF;
$headerTextColor : #000000;
$bodyTextColor : #757575;
$bodyTextAlt : #888888;
$lightBodyText : #CCCCCC;

$tenPercentShadow:rgba(0,0,0,0.1);
$twentyPercentShadow:rgba(0,0,0,0.2);
$thirtyPercentShadow:rgba(0,0,0,0.3);