// VARIABLES
@import "variables";

body {
  font-family: $roboto;
}

header {
  padding: 20px;
  text-align: center;
  background: image-url('background.png') repeat repeat;
  color: #fff;

  h1 {
    font-size: 4em;
    text-transform: uppercase;
  }

  p {
    margin-top: 10px;
    font-size: 1.2em;
  }

  .links {
    display: block;
    margin: 10px auto 0;

    .link {
      display: inline-block;
      text-decoration: none;
      padding-right: 5px;
      line-height: 32px;
      height: 32px;

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    }
  }
}