/* HEADER */

// VARIABLES
@import "variables";

body {
  font-family: $roboto;
}

header {
  padding: 10px;

  h1 {
    font-size: 3em;
    opacity: 0.8;
  }

  p {
    margin-top: 10px;
  }

  .links {
    margin-top: 10px;

    a {
      text-decoration: none;
      margin-right: 5px;

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
      }
    }
  }
}